language: julia

os:
  - osx
  - linux
  - windows

julia:
  - 1.3
  - nightly

notifications:
  email: false

after_success: skip

jobs:
  allow_failures:
  - julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs/ -e 'using Pkg; Pkg.build("Triangulate")'
        - julia --project=docs/ docs/make.jl


